@inject NavigationManager NavigationManager

<button type="button" class="btn btn-outline-primary home-button" @onclick="GoHome">Home</button>

@code {

	private void GoHome()
	{
		NavigationManager.NavigateTo("/");
	}

}