<div class="container" style="background-color: whitesmoke;">
	<ul class="nav nav-pills nav-justified">
		<li class="nav-item">
			<div class="d-flex">
				<button class="nav-link py-3 text-uppercase fw-bold">
					Address
				</button>
				<button class="nav-link py-3 text-uppercase fw-bold">
					Delivery
				</button>
				<button class="nav-link py-3 text-uppercase fw-bold">
					Review
				</button>
				<button class="nav-link py-3 text-uppercase fw-bold">
					Payment
				</button>
			</div>
		</li>
	</ul>
</div>