@page "/login"
@inject IAccountService AccountService
@inject NavigationManager NavigationManager
@inject IToastService ToastService
@inject ILocalStorageService LocalStorageService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IOptions<GithubData> GithubSettings
@inject IOptions<GoogleData> GoogleSettings
@inject IOptions<Urls> Url

<PageTitle>Login</PageTitle>

<EditForm Model="User" OnValidSubmit="HandleValidSubmit" class="mx-auto p-4 bg-light-subtle shadow-sm rounded-3" style="max-width: 400px;">
    <DataAnnotationsValidator />

    <h2 class="text-center mb-4 fw-bold">Welcome Back!</h2>

    <div class="form-floating my-3">
        <InputText type="email" id="email" class="form-control" @bind-Value="User.Email" placeholder="Enter your email" />
        <label for="email" class="fw-bold">Email</label>
        <ValidationMessage For="@(() => User.Email)" />
    </div>

    <div class="form-floating my-3">
        <InputText type="password" id="password" class="form-control" @bind-Value="User.Password" placeholder="Enter your password" />
        <label for="password" class="fw-bold">Password</label>
        <ValidationMessage For="@(() => User.Password)" />
    </div>

    <div class="form-floating my-3">
        <InputText type="password" id="confirmPassword" class="form-control" @bind-Value="User.ConfirmPassword" placeholder="Confirm your password" />
        <label for="confirmPassword" class="fw-bold">Confirm Password</label>
        <ValidationMessage For="@(() => User.ConfirmPassword)" />
    </div>

    <button type="submit" class="btn btn-primary w-100 py-2 fw-bold">Login</button>

    <hr class="my-4" />

    <div class="text-center my-3">
        <a href="/resetpassword/start" class="text-decoration-none">Forgot your password?</a>
    </div>

    <div class="text-center">
	    <p>or login with:</p>
        <a href="https://accounts.google.com/o/oauth2/v2/auth/oauthchooseaccount?client_id=@GoogleSettings.Value.ClientId&redirect_uri=@Url.Value.BaseUrl/google-oauth-code&response_type=code&scope=openid%20profile%20email"
           class="btn btn-outline-info w-100 py-2 mb-2 fw-bold fs-5">
	        <i class="bi bi-google"></i>
            <span class="d-inline-block">Google</span>
        </a>
	    <a href="https://github.com/login/oauth/authorize?client_id=@GithubSettings.Value.ClientId&redirect_uri=@Url.Value.BaseUrl/github-oauth-code&scope=user:email"
           class="btn btn-outline-dark w-100 py-2 fw-bold fs-5">
		    <i class="bi bi-github"></i>
            <span class="d-inline-block">GitHub</span>
        </a>
    </div>
</EditForm>

@code {
    public readonly LoginRequest User = new();
     
    async Task HandleValidSubmit()
    {
        var user = await AccountService.Login(User);

        if (user is not null)
        {
            ToastService.ShowSuccess("Email verified successfully.");

            await LocalStorageService.SetItemAsync("AuthenticationToken", user.Token);

            await AuthenticationStateProvider.GetAuthenticationStateAsync();

            NavigationManager.NavigateTo("/");
        }
        else
        {
            ToastService.ShowError("Invalid email or password.");
        }
    }
}
