@page "/register"
@inject IAccountService AccountService
@inject NavigationManager NavigationManager
@inject IToastService ToastService
@inject IOptions<GithubData> GithubSettings
@inject IOptions<GoogleData> GoogleSettings
@inject IOptions<Urls> Url

<PageTitle>Register</PageTitle>

<EditForm Model="User" OnValidSubmit="HandleValidSubmit" class="mx-auto p-3 bg-light-subtle shadow-sm rounded-2" style="max-width: 400px;">
	<DataAnnotationsValidator />
	<ValidationSummary />

	<h2 class="text-center mb-4 fw-bold">Join Us Today!</h2>

	<div class="form-floating my-2">
		<InputText id="username" class="form-control" @bind-Value="User.DisplayName" placeholder="Enter your username" />
		<label for="username" class="fw-bold">Name</label>
		<ValidationMessage For="@(() => User.DisplayName)" />
	</div>

	<div class="form-floating my-2">
		<InputText type="email" id="email" class="form-control" @bind-Value="User.Email" placeholder="Enter your email" />
		<label for="email" class="fw-bold">Email</label>
		<ValidationMessage For="@(() => User.Email)" />
	</div>

	<button type="submit" class="btn btn-primary w-100 py-3 btn-block mt-2">Continue</button>

	<hr class="my-4" />

	<div class="text-center">
		<p>or register with:</p>
		<a href="https://accounts.google.com/o/oauth2/v2/auth/oauthchooseaccount?client_id=@GoogleSettings.Value.ClientId&redirect_uri=@Url.Value.BaseUrl/google-oauth-code&response_type=code&scope=openid%20profile%20email"
		   class="btn btn-outline-info w-100 py-2 mb-2 fw-bold fs-5">
			<i class="bi bi-google"></i>
			<span class="d-inline-block">Google</span>
		</a>
		<a href="https://github.com/login/oauth/authorize?client_id=@GithubSettings.Value.ClientId&redirect_uri=@Url.Value.BaseUrl/github-oauth-code&scope=user:email"
		   class="btn btn-outline-dark w-100 py-2 fw-bold fs-5">
			<i class="bi bi-github"></i>
			<span class="d-inline-block">GitHub</span>
		</a>
	</div>

	<div class="text-center mt-3">
		<p>Already have an account? <a class="text-primary text-decoration-none" href="/login">Login here</a></p>
	</div>

</EditForm>

@code {
    readonly RegisterVerificationRequest User = new();

    private async Task HandleValidSubmit()
    {
        var isValid = await AccountService.SendEmailVerification(User);

		if (isValid is false)
		{
			ToastService.ShowError("Email already exists.");
			return;
		}

        NavigationManager.NavigateTo("/verify-email/" + User.Email);
    }
}

