@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu DataChange="GetData"/>
    </div>

    <main>
        <div class="top-row px-4">
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@code
{
	private int CategoryId { set; get; }

    public void GetData(int categoryId)
	{
        CategoryId = categoryId;
	}
}
