@inherits LayoutComponentBase

<div class="page">
	<main>
		<div class="top-row px-4 pt-2 pb-1">
			<HomeButton></HomeButton>
			<Search CategoryId="@CategoryId"></Search>
			<CartCounter></CartCounter>
		</div>
		<div class="bg-primary">
			<MercoraNavMenu DataChange="GetData"/>
		</div>
		<article class="content px-4">
			@Body
		</article>
	</main>
</div>

@code
{
	private int CategoryId { set; get; }

	public void GetData(int categoryId)
	{
		CategoryId = categoryId;
	}
}