@inherits LayoutComponentBase

<BlazoredToasts Position="ToastPosition.BottomRight"
				Timeout="4"
				IconType="IconType.FontAwesome"
				SuccessClass="success-toast-override"
				SuccessIcon="fa fa-thumbs-up"
				ErrorIcon="fa fa-bug" />

<div class="page">
	<main>
		<div class="top-row justify-content-between px-4 pt-2 pb-1">
			<HomeButton></HomeButton>
			<CartCounter></CartCounter>
		</div>
		<div class="bg-primary">
			<MercoraNavMenu DataChange="GetData"/>
		</div>
		<article class="content px-4">
			@Body
		</article>
	</main>
</div>

@code
{
	private int CategoryId { set; get; }

	public void GetData(int categoryId)
	{
		CategoryId = categoryId;
	}
}