@page "/checkout"

<div class="container mt-5">
	<div class="row">
		<div class="col-8">
			<Stepper></Stepper>
			<div class="mx-auto p-3 bg-light-subtle shadow-sm rounded-2">
				@* <CheckoutAddress></CheckoutAddress> *@
				@* <CheckoutDelivery></CheckoutDelivery> *@
				<CartSummary IsBasket="false"></CartSummary>
				
			</div>
		</div>
		<div class="col-4">
			<OrderTotals></OrderTotals>
		</div>

	</div>
</div>


@code {

}
