@page "/checkout"

<div class="container mt-5">
	<div class="row">
		<div class="col-8">
			<Stepper></Stepper>
			<div class="mx-auto p-3 bg-light-subtle shadow-sm rounded-2">
				@if (CurrentStep == 1)
				{
					<CheckoutAddress Move="MoveBack"></CheckoutAddress>
				}
				else if (CurrentStep == 2)
				{
					<CheckoutDelivery Move="MoveBack"></CheckoutDelivery>
				}
				else if (CurrentStep == 3)
				{
					<CartSummary Move="MoveBack" IsBasket="false"></CartSummary>
				}
				else
				{
					Console.WriteLine("Last");
				}
			</div>
		</div>
		<div class="col-4">
			<OrderTotals></OrderTotals>
		</div>

	</div>
</div>

@code {

	private int CurrentStep = 1;

	private void MoveBack(int step)
	{
		CurrentStep = step;
	}
	
}
