@inject ICartService CartService
@implements IDisposable

<a href="cart" class="btn btn-info position-relative overflow-visible">
	<i class="bi bi-cart"></i>
	<span class="badge bg-danger position-absolute top-0 start-100 translate-middle">
		@GetCartItemCount() <span class="visually-hidden">cart items</span>
	</span>
</a>

@code{

	protected override async Task OnInitializedAsync()
	{
		await CartService.InitializeCart();
		CartService.OnChange += StateHasChanged;	
	}

	private int GetCartItemCount()
	{
		var cartCount = CartService?.Cart?.Items.Count ?? 0;
		return cartCount;
	}

	public void Dispose()
	{
		CartService.OnChange -= StateHasChanged;
	}

}